

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data files
Data/
tests/

# Generated figures
Doc/figure/

# Logs
*.log

# Environment variables
.env
